apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontail-ingress
  annotations:
      kubernetes.io/ingress.class: public
spec:
  rules:
  - host: bash-history.domain.placeholder
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: frontail
            port:
              number: 9001
  tls:
  - hosts:
    - bash-history.domain.placeholder